*{
  box-sizing: border-box;
}

body{
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
  font-weight: 400;
}
a{
  text-decoration: none;
}

.phone{
  color: #FBCC34;
  border: 1px solid #FBCC34;
  padding: 10px;
  border-radius: 25px;
  float: right;
}

header{
  background-image: url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  text-align: center;
  padding: 20px;
}

.hero{
  clear: both;
  padding-top: 15%;
}

h1{
  font-size: 2rem;
  font-weight: 700;
  color: white;
}

h2{
  font-size:1rem;
  color: white;
}

h3{
  font-size: 2rem;
  font-weight: 700;
  color: #FBCC34;
}

h4{
  font-family: 'Playfair Display', serif;
  font-size: 1rem;
  padding-bottom: 10px;
}

h5{
  color: white;
}

h6{
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  padding-bottom: 30px;
}

p{
  padding-bottom: 20px;
}

.desc{
  background-color: #F3F4ED;
  display: flex;
  flex-direction: column;
  padding: 50px;
  justify-content: center;
  align-items: center;

}

.left{
  width: 100%;
}

.left img{
  padding-bottom: 20px;
}

.right{
  width: 100%;
}

.locations{
  text-align: center;
  padding-top: 30px;
}

.sk{
  text-align: center;
  padding-top: 30px;
}

.loc-sq{
  display:flex;
  flex-direction: column;
}

.square{
  border: 1px solid #AD815E;
  padding: 30px;
  text-align: center;
  margin: 10%;
}

.square p{
  padding-bottom: 0px;
}

.black{
  padding: 20px;
  background-color: black;
  text-align: left;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.black p{
  color: white;
  padding-bottom: 0px;
  font-size: .75rem;
}

.gray{
  background-color: #F3F4ED;
  text-align: center;
  padding: 20px;
}

.slide-title{
  font-weight: 700;
  padding-bottom: 0px;
}

.me{
  color: #F3F4ED;
}


/* Slideshow container */
.slideshow-container {
  position: relative;
}

/* Slides */
.mySlides {
  display: none;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  position: absolute;
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: cornflowerblue;}


@media only screen and (min-width: 1024px) {
  .desc{
    flex-direction: row;
  }

  .left{
    width: 50%;
  }

  .right{
    width: 50%;
  }

  .loc-sq{
    display:flex;
    flex-direction: row;
    justify-content: center;
  }

  .square{
    width: 25%;
    margin-top: 5%;
  }

  .desc{
    padding: 50px 20% 50px 20%;
  }

  .sk{
    display:flex;
    flex-direction: row;
    justify-content: center;
  }
}

@media only screen and (min-width: 768px) {
  .desc{
    flex-direction: row;
  }

  .left{
    width: 50%;
  }

  .right{
    width: 50%;
  }
  .desc{
    padding: 50px 20% 50px 20%;
  }

  .loc-sq{
    display:flex;
    flex-direction: row;
  }

  .sk{
    display:flex;
    flex-direction: row;
    justify-content: center;
  }

  .gray{
    padding: 50px 20% 50px 20%;
  }

}
